//Все файлы котрые заканчиваются (с разрешением iml) на .iml
*.iml


//Папка ".gradle"
.gradle

//Файлы
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
